<div class="profile-container">
  <img src="<%= @profile.profile_picture %>" class="profile-picture" /> 

  <div style="padding-top: 10px">
    <p><%= @profile.user.username%> </p>
  </div>

  <div style="padding-top: 2px">
    <%= simple_format(@profile.bio) %>
  </div>

  <div class="button-container">
    <a href="/profiles/edit<%= @profile %>" class="red-button">Edit Profile</a>
    <a href="/posts/new" class="red-button" style="margin-left: 10px;">New Post</a>
  </div>


</div>

<hr>

<div class="container mt-4">
  <div class="row">
    <% Post.all.each do |post| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <a href="/posts/<%= post.id %>">
          <div class="card square-card">
            <img src="<%= post.post_image %>" class="card-img-top square-card-img" alt="...">
            <div class="card-body">
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>




<style>
.profile-container {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.square-card {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.square-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}


.card .card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.red-button {
    background-color: rgb(255, 90, 95);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: 135px;
  }

  .red-button:hover {
    background-color: darkred;
  }

  .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  }
</style>


