<h1>Login</h1>
<%= form_with method: "post", url: "/sessions" do |form| %>
  
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  
  <div style="padding-top: 7px;">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  
  <div style="padding-top: 7px;">
    <%= form.submit "Login" %>
  </div>
<% end%>