<div class="signup-header">
  <h1 class="app-logo">InstaClone</h1>

  <h2 class="tagline">Capture and share the world's moments</h2>

  <p class="subheading">Sign up to see photos and videos from your friends and join our community.</p>
</div>

<%= form_with model: @user do |form| %>
  
    <div style="padding-top: 7px;">
    <%= form.label :email %>
    <%= form.email_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div style="padding-top: 7px;">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
    <% @user.errors.full_messages_for(:full_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div style="padding-top: 7px;">
    <%= form.label :username %>
    <%= form.text_field :username %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div style="padding-top: 7px;">  
    <%= form.label :password %>
    <%= form.password_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div style="padding-top: 7px;">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div style="padding-top: 7px;">
    <%= form.submit "Sign Up" %>
  </div>

  <div class="option">
     <p>Have an account? <a href="">Log In</a></p>
  </div>
<% end %>